In [10]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [2]:
# loading joblisting dataset from github
url_markets = 'https://raw.githubusercontent.com/johnsiphiwe/EDSA-Project-2022/Scrapping-Joas/CSV_files/Global_Markets.csv'
url_local = 'https://raw.githubusercontent.com/johnsiphiwe/EDSA-Project-2022/Scrapping-Joas/CSV_files/indeed_jobs%20abroad.csv'

job_listing = pd.concat(
    map(pd.read_csv, [url_markets, url_local]))

job_listing.head()

,Unnamed: 0,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,0,Lead Data Scientist (Remote),Boclips,London,Are you ready to shape the future of media-ric...,None,2022-05-19,"£90,000 per year",https://www.careerjet.co.za/jobad/gb514a18cd3f...
1,1,Head of Data Science| Remote | £80K - £110k | ...,Opus Recruitment Solutions,South East England,"Hampshire, United Kingdom Permanent £80000 ...",18 days ago,2022-05-19,"£80,000-110,000 per year",https://www.careerjet.co.za/jobad/gb4dbe27d5a0...
2,2,Cost Engineer (Life Sciences/Pharma/Data Centres),Turner & Townsend,Newcastle,Company Description At Turner & Townsend we’...,4 days ago,2022-05-19,NaN,https://www.careerjet.co.za/jobad/gb257e728bea...
3,3,Project Controls Engineer - Planning (Life Sci...,Turner & Townsend,Manchester,Company Description At Turner & Townsend we’...,4 days ago,2022-05-19,NaN,https://www.careerjet.co.za/jobad/gbb1b7fb4de1...
4,4,Project Controls Engineer - Planning (Life Sci...,Turner & Townsend,Newcastle,Company Description At Turner & Townsend we’...,4 days ago,2022-05-19,NaN,https://www.careerjet.co.za/jobad/gbf3e2a6e657...

In [3]:
# remove duplicates
job_listing.drop_duplicates()

,Unnamed: 0,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,0,Lead Data Scientist (Remote),Boclips,London,Are you ready to shape the future of media-ric...,None,2022-05-19,"£90,000 per year",https://www.careerjet.co.za/jobad/gb514a18cd3f...
1,1,Head of Data Science| Remote | £80K - £110k | ...,Opus Recruitment Solutions,South East England,"Hampshire, United Kingdom Permanent £80000 ...",18 days ago,2022-05-19,"£80,000-110,000 per year",https://www.careerjet.co.za/jobad/gb4dbe27d5a0...
2,2,Cost Engineer (Life Sciences/Pharma/Data Centres),Turner & Townsend,Newcastle,Company Description At Turner & Townsend we’...,4 days ago,2022-05-19,NaN,https://www.careerjet.co.za/jobad/gb257e728bea...
3,3,Project Controls Engineer - Planning (Life Sci...,Turner & Townsend,Manchester,Company Description At Turner & Townsend we’...,4 days ago,2022-05-19,NaN,https://www.careerjet.co.za/jobad/gbb1b7fb4de1...
4,4,Project Controls Engineer - Planning (Life Sci...,Turner & Townsend,Newcastle,Company Description At Turner & Townsend we’...,4 days ago,2022-05-19,NaN,https://www.careerjet.co.za/jobad/gbf3e2a6e657...
...,...,...,...,...,...,...,...,...,...
3415,490,newRemote Data Scientist,American Institutes for Research,Remote+3 locations,"Keywords: Data Scientist, Azure, Python, SQL, ...",Posted5 days ago,2022-05-24,"$70,000 - $110,000 a year",https://www.indeed.com/rc/clk?jk=d72009ecc3b55...
3416,491,Staff Data Scientist,American Institutes for Research,Remote+3 locations,Meeting with customers to discuss our machine ...,Posted5 days ago,2022-05-24,"$70,000 - $110,000 a year",https://www.indeed.com/rc/clk?jk=d72009ecc3b55...
3417,492,Data Scientist,American Institutes for Research,Remote+3 locations,Manage data engineering projects to ensure acc...,Posted5 days ago,2022-05-24,"$70,000 - $110,000 a year",https://www.indeed.com/rc/clk?jk=d72009ecc3b55...
3418,493,Data Scientist,American Institutes for Research,Remote+3 locations,As a data scientist you would apply innovative...,Posted5 days ago,2022-05-24,"$70,000 - $110,000 a year",https://www.indeed.com/rc/clk?jk=d72009ecc3b55...
3419,494,newData Scientist- Remote,American Institutes for Research,Remote+3 locations,"Analytics: Use analytical applications like R,...",Posted5 days ago,2022-05-24,"$70,000 - $110,000 a year",https://www.indeed.com/rc/clk?jk=d72009ecc3b55...

In [4]:
def experience(x):

    junior = ['internship', 'junior', 'graduate']
    mid_level = ['3 years', '4 years', 'exceptional', 'experience']
    senior = ['sr', 'manager', '6 year', '10 years', 'lead']

    for word in x.lower().split():
        if word in junior:
            return 'Junior'
        elif word in senior:
            return 'Senior'
        elif word in mid_level:
            return 'Mid_level 3-5 years'
        else:
            return 'Mid_level 1-2 years'


# apply the experience feature
job_listing['experience'] = job_listing['job_desc'].apply(experience)

In [6]:
# province feature
def province(x):
    type_prov = []
    #x= x.str.replace('[^\w\s\d]',' ')
    provinces = ['gauteng', 'johannesburg', 'sandton', 'parktown', 'natal', 'limpopo', 'durban', 'kwazulu', 'midrand', 'stellenbosch', 'centurion',
                 'western', 'cape', 'pretoria', 'town', 'midrand' 'limpopo', 'north', 'west', 'eastern Cape', 'free' 'State', 'mpumalanga', 'northen cape']
    remote = []
    for word in x.lower().split():
        if word in provinces:
            type_prov.append(word)
        elif word not in provinces:
            remote.append(word)
    for y in type_prov:
        if y == 'johannesburg' or y == 'gauteng' or y == 'midrand' or y == 'pretoria' or y == 'centurion':
            return 'Gauteng'
        elif y == 'stellenbosch' or y == 'western' or y == 'cape':
            return 'Western Cape'
        elif y == 'durban' or y == 'kwazulu':
            return 'Kwazulu-Natal'
        elif y == 'limpopo':
            return 'Limpopo'
        elif y == 'eastern':
            return 'Eastern Cape'
        elif y == 'free state':
            return 'Free State'
        elif y == 'limpopo':
            return 'Limpopo'
        elif y == 'northen cape':
            return 'Northen Cape'
        elif y == 'mpumalanga':
            return ' Mpumalanga'
        elif y == 'north' or 'west':
            return 'North West'
    for z in remote:
        if z in str(['united states', 'somerville', 'plano', 'dearborn', 'MI', 'sydney', 'NSW', 'Tampa', 'FL', 'Dallas', 'TX', 'San', 'Francisco', 'CA', 'Brooklyn', 'NY', 'US', 'Santa Clara', 'Seattle', 'WA', 'Plano', 'TX', 'New York City', 'NY', 'San Diego', 'Mountain View', 'CA', 'Livonia', 'MI', 'McLean', 'IL', 'Winter Park', 'FL']).lower():
            return 'Remote in the US'
        if z in str(['England', 'London', 'Cambridge', 'Manchester', 'Newcastle', 'Strand', 'Bristol Area', 'Bristol Area', 'Oxford', 'Birmingham', 'Nottingham', 'Liverpool', 'County Durham', 'England', 'Cambridge', 'Berkshire', 'Greater London']).lower():
            return 'Remote in England'
        if z in str(['AUE', 'Dubai,Abu Dhabi']).lower():
            return 'Remote in AUE'
        if z in str(['Autralia', 'Canberra', 'ACT']).lower():
            return 'Remote in Australia'
        if z in ['singapore']:
            return 'Remote in Singapore'
        else:
            return 'Remote'
        
# apply function
job_listing['province'] = job_listing['location'].apply(province)

In [7]:
# country feature
def country(x):
    provinces = ['Gauteng', 'Limpopo', 'Western Cape', 'Free State',
                 'Eastern Cape', 'Kwazulu-Natal', 'Mpumalanga', 'North West', 'Northern Cape']
    if x in provinces:
        return 'South Africa'
    elif x == 'Remote in the US':
        return 'United States of America'
    elif x == 'Remote in England':
        return 'England'
    elif x == 'Remote in AUE':
        return 'UAE'
    elif x == 'Remote in Singapore':
        return 'Singapore'
    elif x == 'Remote':
        return 'Remote'


# apply feature
job_listing['country'] = job_listing['province'].apply(country)

In [8]:
# creating numbers days from date posted
job_listing['number_days'] = job_listing['date_posted'].str.extract(
    '(\d+)', expand=False)
# change date scrapped to datetime
job_listing['date_scrapped'] = pd.to_datetime(job_listing['date_scrapped'])
# convert number days to date and minus
job_listing['number_days'] = job_listing['number_days'].fillna(0).astype(int)
# creating new feature date
job_listing['date'] = (job_listing['date_scrapped'] -
                       pd.to_timedelta(job_listing['number_days'], unit='d'))

In [9]:
def fix_title(x):

    machine_learning = ['machine', 'learning']
    data_scientist = ['data', 'scientist', 'science']
    bus_intel = ['business', 'intelligence', 'developer']
    data_analyst = ['data', 'analyst', ]
    aws = ['aws', 'data', 'science', 'architect']
    data_engineer = ['engineer', 'engineering']
    software = ['software']

    for word in x.lower().split():
        if word in machine_learning:
            return 'Machine Learning'
        elif word in data_scientist:
            return 'Data scientist'
        elif word in bus_intel:
            return 'Business Intelligence'
        elif word in aws:
            return 'AWS Data Science Architect'
        elif word in data_analyst:
            return 'Data analyst'
        elif word in data_engineer:
            return 'Data engineer'
        elif word in software:
            return 'Software Developer'
        else:
            return 'Data Science'


# applying to function to create new feature
job_listing['summary_title'] = job_listing['job_desc'].apply(fix_title)

## Visualize

In [23]:
job_listing_2 = pd.DataFrame(job_listing.groupby(['country', 'province', 'date', 'summary_title', 'job_url']).size(), columns=['count']).reset_index()
job_listing_2.set_index('date', inplace = True)
job_listing_2.sort_values(by='date', ascending = False, inplace=True)
job_listing_2

,country,province,summary_title,job_url,count
date,,,,,
2022-05-24,Remote,Remote,Data Science,https://www.indeed.com/company/Property-Exchan...,210
2022-05-21,Remote,Remote,Data Science,https://www.indeed.com/rc/clk?jk=8cee358cf3000...,525
2022-05-20,Remote,Remote,Data Science,https://www.indeed.com/rc/clk?jk=bf9c39a989c41...,150
2022-05-20,UAE,Remote in AUE,Data Science,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...,90
2022-05-19,England,Remote in England,Data Science,https://www.careerjet.co.za/jobad/gba846254cc8...,15
...,...,...,...,...,...
2022-04-24,Remote,Remote,Data Science,https://www.indeed.com/rc/clk?jk=16330f4d1e351...,29
2022-04-24,Singapore,Remote in Singapore,Data scientist,https://www.indeed.com/rc/clk?jk=1a40fbb55d50b...,34
2022-04-23,Remote,Remote,Data analyst,https://www.indeed.com/rc/clk?jk=16330f4d1e351...,3
2022-04-23,Remote,Remote,Data Science,https://www.indeed.com/rc/clk?jk=16330f4d1e351...,72
2022-04-23,England,Remote in England,Data Science,https://www.careerjet.co.za/jobad/gb2bd5d19413...,21

In [39]:
unstacked_job = job_listing_2.pivot_table('count', ['date', 'summary_title'], 'country')
unstacked_job = round(unstacked_job.fillna(0),0)

In [58]:
unstacked_job.sort_values(by='date', ascending = False, inplace=True)
unstacked_job.reset_index(inplace = True)

In [59]:
unstacked_job.dtypes

country
date                        datetime64[ns]
summary_title                       object
England                            float64
Remote                             float64
Singapore                          float64
UAE                                float64
United States of America           float64
dtype: object

In [66]:
trace1 = go.Bar(x= unstacked_job['summary_title'],
                y= unstacked_job['England'],
               marker ={'color': '#FFD700'})
trace2 = go.Bar(x= unstacked_job['summary_title'],
                y= unstacked_job['Remote'],
                marker ={'color': 'green'})
#trace3 = [go.Bar(x= unstacked_job['summary_title'],
                 #y= unstacked_job['South Africa'],
                #marker ={'color': 'orange'})]
trace4 = go.Bar(x= unstacked_job['summary_title'],
                 y= unstacked_job['Singapore'],
               marker ={'color': 'red'})
trace5 = go.Bar(x= unstacked_job['summary_title'],
                y= unstacked_job['UAE'],
                marker ={'color': 'blue'})
trace6 = go.Bar(x= unstacked_job['summary_title'],
                y= unstacked_job['United States of America'],
                marker ={'color': 'white'})

data = [trace1, trace2, trace4,trace5, trace6]


layout = go.Layout(title = 'count of jobs', barmode = 'stack')
fig= go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'