In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
from datetime import datetime
import csv
import urllib
import re
from urllib.request import urlopen

In [ ]:
https://za.indeed.com/jobs?q=data%20scientist&l=South%20Africa%2C%20Gauteng&start&vjk=431142e852804cc4

In [32]:
features = ['Title','Company','Location', 'Salary'] # list of features
indeed = pd.DataFrame(columns = features) # Creating a dataframe named indeed

In [58]:
ss =[]

for i in range(0,15,10): #calling 15 enteries
    position,location ='data scientist','gauteng'
    y = requests.get('https://za.indeed.com/jobs?q={}&l={}&sort=start='.format( position,location) + str(i))
    print(y)  #it's working

<Response [200]>
<Response [200]>

In [59]:
soup = BeautifulSoup(y.text,'lxml')
#print(soup)

In [71]:

for jj in soup.find_all('div', {'class': 'job_seen_beacon'}):
    i = jj.find('tbody')
    a = i.find('tr')
    
    
    for n in a.find_all('h2',{'class':'jobTitle'}):
        job_title = n.find_all('span')[0].get_text()
        print(job_title)
        
        #Company name
        other = a.find('div',{'class':'heading6 company_location tapItem-gutter companyInfo'})
        pr_ =other.find('span')
        company_ = (pr_.get_text())
        print(company_)
        ss.append(company_)
        
        
        #Salary if available
       # if a.find('div',{'class':'metadata salary-snippet-container'}):
           # print(a.find('div',{'class':'salary-snippet'}).get_text())
            
        #else:
           #  print('Nope')
            #salary_= 'None'
            
        #Location
        opt_l = other.find('div',{'class':'companyLocation'})
        print(opt_l.get_text())
        
        
        #Job description
            
            
        #Date posted
        #for dt in a.find_all('div',{'class':'heading6 tapItem-gutter result-footer'}):
            #date_ = dt.find('span',{'class':'date'}).get_text()

new
Luno
Remote in Johannesburg, Gauteng
Data Scientist Senior TVQ G1928
Open Source (Pty) Ltd
Midrand, Gauteng
new
LexisNexis
Johannesburg, Gauteng
new
IBM
Sandton, Gauteng
Data Scientist (Ref - DNTS)
DotModus
Johannesburg, Gauteng
Data Scientist III
FirstRand
Johannesburg, Gauteng
new
E-Merge
Remote in Pretoria, Gauteng
new
E-Merge
Johannesburg, Gauteng
new
E-Merge
Johannesburg, Gauteng
new
Mintek
Randburg, Gauteng
Deloitte Consulting - Mid-Level Data Scientist
Deloitte
Midrand, Gauteng
Power BI Developer / Data Scientist
Green Marble Recruitment Consultants
Johannesburg, Gauteng
REPL Group - Senior Data Scientist
Accenture
Centurion, Gauteng+1 location
Data Scientist Action AI/ML
ProQuo AI
Johannesburg, Gauteng 2196
new
E-Merge
Johannesburg, Gauteng

In [72]:
#pd.set_option('display.max_columns',None)
#data = pd.DataFrame([[job_title,  company_, opt_l, salary_]])
#data.columns = features
#indeed = indeed.append(data, ignore_index = True)

In [73]:
#data.shape

(1, 4)

In [52]:
#indeed.to_csv('Jobs.csv')

In [54]:
#indeed.shape

(3, 4)

In [53]:
#indeed

                        Title   Company                      Location Salary
0  Data Engineer (Fixed-term)  Heineken  [Johannesburg, Gauteng 2000]   None
1                         new   E-Merge       [Johannesburg, Gauteng]   None
2                         new   E-Merge       [Johannesburg, Gauteng]   None