In [3]:
import pandas as pd

In [9]:
url_markets = 'https://raw.githubusercontent.com/johnsiphiwe/EDSA-Project-2022/Scrapping-Joas/CSV_files/Global_Markets.csv'
url_local = 'https://raw.githubusercontent.com/johnsiphiwe/EDSA-Project-2022/Scrapping-Joas/CSV_files/indeed_jobs%20abroad.csv'

In [13]:
trya = pd.read_csv(url_markets)
trya

,Unnamed: 0,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,0,Lead Data Scientist (Remote),Boclips,London,Are you ready to shape the future of media-ric...,None,2022-05-19,"£90,000 per year",https://www.careerjet.co.za/jobad/gb514a18cd3f...
1,1,Head of Data Science| Remote | £80K - £110k | ...,Opus Recruitment Solutions,South East England,"Hampshire, United Kingdom Permanent £80000 ...",18 days ago,2022-05-19,"£80,000-110,000 per year",https://www.careerjet.co.za/jobad/gb4dbe27d5a0...
2,2,Cost Engineer (Life Sciences/Pharma/Data Centres),Turner & Townsend,Newcastle,Company Description At Turner & Townsend we’...,4 days ago,2022-05-19,NaN,https://www.careerjet.co.za/jobad/gb257e728bea...
3,3,Project Controls Engineer - Planning (Life Sci...,Turner & Townsend,Manchester,Company Description At Turner & Townsend we’...,4 days ago,2022-05-19,NaN,https://www.careerjet.co.za/jobad/gbb1b7fb4de1...
4,4,Project Controls Engineer - Planning (Life Sci...,Turner & Townsend,Newcastle,Company Description At Turner & Townsend we’...,4 days ago,2022-05-19,NaN,https://www.careerjet.co.za/jobad/gbf3e2a6e657...
...,...,...,...,...,...,...,...,...,...
1575,75,"Senior Engineering Manager, Machine Learning S...",Etsy,"San Francisco, CA",Company Description Etsy is the global marke...,None,2022-05-19,NaN,https://www.careerjet.co.za/jobad/us920f117095...
1576,76,Product Manager - Rotating Machines - HyBrid R...,Bosch,"Oakbrook Terrace, IL",Company Description Hybrid Schedule 60/40 - ...,11 days ago,2022-05-19,NaN,https://www.careerjet.co.za/jobad/usc38960737b...
1577,77,Big Data/Machine Learning Engineer - Sr,My3Tech,USA,Apex notes: Not looking for someone who has t...,None,2022-05-19,NaN,https://www.careerjet.co.za/jobad/usc873102cd3...
1578,78,Welding Machine Repair Tech,The Reserves Network,"Winter Park, FL",Welder Machine Repair Tech The Reserves Netw...,None,2022-05-19,$25.00-30.00 per hour,https://www.careerjet.co.za/jobad/us72cbd9b519...
1579,79,Machine Learning Scientist *Remote Work,Genentech,USA,"This position may be based out of New York, US...",5 days ago,2022-05-19,"$150,000-192,700 per year",https://www.careerjet.co.za/jobad/us8b09feb434...

In [14]:
job_listing = pd.concat(
    map(pd.read_csv, [url_markets, url_local]))

In [15]:
job_listing

,Unnamed: 0,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,0,Lead Data Scientist (Remote),Boclips,London,Are you ready to shape the future of media-ric...,None,2022-05-19,"£90,000 per year",https://www.careerjet.co.za/jobad/gb514a18cd3f...
1,1,Head of Data Science| Remote | £80K - £110k | ...,Opus Recruitment Solutions,South East England,"Hampshire, United Kingdom Permanent £80000 ...",18 days ago,2022-05-19,"£80,000-110,000 per year",https://www.careerjet.co.za/jobad/gb4dbe27d5a0...
2,2,Cost Engineer (Life Sciences/Pharma/Data Centres),Turner & Townsend,Newcastle,Company Description At Turner & Townsend we’...,4 days ago,2022-05-19,NaN,https://www.careerjet.co.za/jobad/gb257e728bea...
3,3,Project Controls Engineer - Planning (Life Sci...,Turner & Townsend,Manchester,Company Description At Turner & Townsend we’...,4 days ago,2022-05-19,NaN,https://www.careerjet.co.za/jobad/gbb1b7fb4de1...
4,4,Project Controls Engineer - Planning (Life Sci...,Turner & Townsend,Newcastle,Company Description At Turner & Townsend we’...,4 days ago,2022-05-19,NaN,https://www.careerjet.co.za/jobad/gbf3e2a6e657...
...,...,...,...,...,...,...,...,...,...
3415,490,newRemote Data Scientist,American Institutes for Research,Remote+3 locations,"Keywords: Data Scientist, Azure, Python, SQL, ...",Posted5 days ago,2022-05-24,"$70,000 - $110,000 a year",https://www.indeed.com/rc/clk?jk=d72009ecc3b55...
3416,491,Staff Data Scientist,American Institutes for Research,Remote+3 locations,Meeting with customers to discuss our machine ...,Posted5 days ago,2022-05-24,"$70,000 - $110,000 a year",https://www.indeed.com/rc/clk?jk=d72009ecc3b55...
3417,492,Data Scientist,American Institutes for Research,Remote+3 locations,Manage data engineering projects to ensure acc...,Posted5 days ago,2022-05-24,"$70,000 - $110,000 a year",https://www.indeed.com/rc/clk?jk=d72009ecc3b55...
3418,493,Data Scientist,American Institutes for Research,Remote+3 locations,As a data scientist you would apply innovative...,Posted5 days ago,2022-05-24,"$70,000 - $110,000 a year",https://www.indeed.com/rc/clk?jk=d72009ecc3b55...
3419,494,newData Scientist- Remote,American Institutes for Research,Remote+3 locations,"Analytics: Use analytical applications like R,...",Posted5 days ago,2022-05-24,"$70,000 - $110,000 a year",https://www.indeed.com/rc/clk?jk=d72009ecc3b55...